.w3-codespan{
	font-size:105%;
	background-color:  rgba(222,222,222,0.3);
	color: crimson;
	padding-left: 4px;
	padding-right: 4px;
	font-family: Consolas,"courier new";
}

.w3-black{
	color: #fff !important;
	background-color: #000 !important;
}

.w3-white{
	color: #000 !important;
}

.w3-code{ 
	font-family: Consolas,"courier new";/*111*/
	width: auto; /*112*/
	background-color: #fff;
	padding:8px 12px;
	word-wrap:break-word;
	margin-top: 16px!important; /*138*/
	margin-bottom:16px!important;
	border-left: 4px solid #04AA6D;/*430*/
	font-size: 15px; /*1000*/
}

